<a href="/">&larr; Back</a>
<div class="admin-title">
    <h2>View / Edit Item</h2>
    <form action="/delete-item/<%= data._id %>?_method=DELETE" method="POST">
        <input type="submit" value="Delete" class="btn-delete btn">
    </form>
</div>

<form action="/edit-item/<%= data._id %>?_method=PUT" method="POST">
    <label for="title"><b>Name</b></label>
    <input type="text" placeholder="Item name" name="name" value="<%= data.name %>">

    <label for="amount"><b>Amount</b></label>
    <input type="number" placeholder="Item amount" name="amount" value="<%= data.amount %>">

    <label for="unit"><b>Unit</b></label>
    <select name="unit">
        <option value="" disabled selected><%= data.unit %></option>
        <option value="Can">Can</option>
        <option value="Glass">Glass</option>
        <option value="Gram">Gram</option>
        <option value="Kilogram">Kilogram</option>
        <option value="Liter">Liter</option>
        <option value="Milliliter">Milliliter</option>
        <option value="Packs">Packs</option>
        <option value="Piece">Piece</option>
        <option value="Tablespoon">Tablespoon</option>
        <option value="Teaspoon">Teaspoon</option>
    </select>

    <input type="submit" value="Update" class="btn">

</form>