<div class="heading">
    <h1 class="heading__heading">Shoppinglist</h1>
</div>

<img src="/img/shoppping-bag.jpg" alt="shoppingbag" class="hero-image" width="981" height="528">

<section class="item">
    <div class="oneRow">
        <h2 class="items__heading">Shoppinglist items</h2>
        <div class="header__button">
            <button class="addBtn" aria-expanded="false" onclick="redirectToAddItem()">+</button>
        </div>
    </div>

    <ul class="items-ul">

        <% data.forEach(item=> { %>
            <li>
                <a href="/edit-item/<%= item._id %>">
                    <span>
                        <%= item.name %>
                    </span>
                    <span class="items-list__amount">
                        <%= item.amount %>
                            <%= item.unit %>
                    </span>
                    <form action="/delete-item/<%= item._id %>?_method=DELETE" method="POST">
                        <input type="submit" value="Delete" class="btn-delete btn">
                    </form>
                </a>
            </li>
            <% }) %>
    </ul>
</section>